@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* :root {
  --gray: #e5e5e5;
  --white: #fff;
  --black: #000;
  --offPurple: #aa91de;
  --purple: #9747ff;
  --blue: #0071e3;
} */

i {
  font-size: 24px !important;
}

h1,
h2,
h3 {
  color: var(--titles-color);
  font-family: var(--title-font);
}

h1 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

a,
p,
li,
label,
textarea,
span,
select,
input,
input::placeholder,
button {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

input {
  border: none;
  background: transparent;
}

input::placeholder {
  font-weight: 800;
}

p,
label,
li {
  color: rgba(255, 255, 255, 0.6);
}

li {
  list-style: none;
}

span {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--primary-color);
}

body {
  background-color: var(--background-color);
}

.content {
  padding: 32px 32px 32px 245px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.btn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 8px;
  padding: 4px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
}

.btn.active {
  background-color: var(--primary-color);
}

.btn p {
  color: var(--text-color);
}
