@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

i {
  font-size: 24px !important;
}

h1,
h2,
h3 {
  color: var(--titles-color);
  font-family: var(--title-font);
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

a,
p,
li,
label,
textarea,
span,
select,
input,
input::placeholder,
button {
  color: var(--text-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  font-size: 0.75rem;
}

input {
  border: none;
  background: transparent;
}

li {
  list-style: none;
}

span {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--primary-color);
}

body {
  background-color: var(--background-color);
}

.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.btn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 8px;
  padding: 4px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
}

.btn.active {
  background-color: var(--primary-color);
}

.btn p {
  color: var(--text-color);
}

@media (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) {
  .content {
    padding: 32px 32px 32px 184px;
  }
}
